.piece-img {
  height: 200px;
  border: 10px solid black;
  margin: 10px 10px;
}

.piece-imglarge {
  border: 10px solid black;
  margin: 10px 10px;
  max-width: 99vw;
}

.piece {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.info-didactic {
  background-color: white;
  width: 500px;
  border: 10px solid black;
  padding: 10px;
  margin: 10px auto;
}

.link-to-ham {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  margin: 5px;
  padding: 3px;
}

.link-to-ham:hover {
  box-shadow: 3px 3px 4px 4px grey;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .piece-imglarge {
    width: 85vw;
    height: auto;
  }

  .info-didactic {
    width: 85vw;
  }

  .piece-img {
    width: 85vw;
    height: auto;
  }

}