.art-img {
  height: 300px;
  width: auto;

}

.art-icle {
  border: 10px solid black;
  height: 300px;
  width: max-content;
  margin: 10px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}